<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Create Invoice</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form class="needs-validation" novalidate th:action="@{/invoice/create-invoice}", method="post" th:object="${invoice}">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="vendor" class="col-form-label">Choose Vendor</label>
                                                    <select name="vendor" id="vendor" th:field="*{vendor}" class="custom-select" required="required">
                                                        <option th:value=" ''" th:text="Select"></option>
                                                        <option th:each="eachVendor : ${vendors}" th:value="${eachVendor.companyName}" th:text="${eachVendor.companyName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="type" class="col-form-label">Choose Invoice Type</label>
                                                    <select name="type" id="type" th:field="*{invoiceType}" class="custom-select" required="required">
                                                        <option th:value=" ''" th:text="Select"></option>
                                                        <option th:each="eachInvoiceType : ${invoiceTypes}" th:value="${eachInvoiceType}" th:text="${eachInvoiceType}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="float-left">
                                                    <button type="submit" class="btn btn-success">Create Invoice</button>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>



                <!-- ------------------------TABLE START----------------------------- -->
                <br>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Invoice - Pending List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Invoice Type</th>
                                                <th scope="col">Invoice No</th>
                                                <th scope="col">Invoice Status</th>
                                                <th scope="col">Vendor Name</th>
                                                <th scope="col">Vendor Type</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="each : ${invoiceListPurchase}">
                                                <td th:text="${each.invoiceType}">Invoice Type</td>
                                                <td th:text="${each.invoiceNo}">Invoice No</td>
                                                <td th:text="${each.invoiceStatus}">Invoice Status</td>
                                                <td th:text="${each.vendor.companyName}">Vendor Name</td>
                                                <td th:text="${each.vendor.type}">Vendor Type</td>
                                                <td class="actions">
                                                    <a th:href="@{/invoice/add-item-purchase/{invoiceNo}(invoiceNo = ${each.invoiceNo})}"><button type="button" class="btn btn-success btn-sm">Add Item</button></a>
                                                    <a th:href="@{/invoice/delete-invoice/{invoiceNo}(invoiceNo = ${each.invoiceNo})}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Invoice Type</th>
                                                <th scope="col">Invoice No</th>
                                                <th scope="col">Invoice Status</th>
                                                <th scope="col">Vendor Name</th>
                                                <th scope="col">Vendor Type</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="each : ${invoiceListSales}">
                                                <td th:text="${each.invoiceType}">Invoice Type</td>
                                                <td th:text="${each.invoiceNo}">Invoice No</td>
                                                <td th:text="${each.invoiceStatus}">Invoice Status</td>
                                                <td th:text="${each.vendor.companyName}">Vendor Name</td>
                                                <td th:text="${each.vendor.type}">Vendor Type</td>
                                                <td class="actions">
                                                    <a th:href="@{/invoice/add-item-sales/{invoiceNo}(invoiceNo = ${each.invoiceNo})}"><button type="button" class="btn btn-success btn-sm">Add Item</button></a>
                                                    <a th:href="@{/invoice/delete-invoice/{invoiceNo}(invoiceNo = ${each.invoiceNo})}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

    <div th:replace="/fragments/javascript :: js"></div>



</body>

</html>
