<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Purchase Invoice - Add Item</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form class="needs-validation" novalidate th:action="@{/invoice/add-item-purchase}",  method="post" th:object="${purchaseInvoiceDTO}">
                                        <div class="row">
                                            <div class="col-sm-9 col-md-9">
                                                <div class="form-group">
                                                    <label for="invoiceNo" class="col-form-label">Choose Purchase No.</label>
                                                    <select name="invoiceNo" id="invoiceNo" th:field="*{invoiceNumber}"  class="custom-select" required="required">
                                                        <option value="" selected>Select Invoice Number</option>
                                                        <option th:each="eachinvoiceNo : ${purchaseInvoiceNoList}" th:value="${eachinvoiceNo.invoiceNo}" th:text="${eachinvoiceNo.invoiceNo}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="product" class="col-form-label">Choose Product</label>
                                                    <select name="product" id="product" class="custom-select" th:field="*{productNameDTO}" required="required">
                                                        <option th:value=" ''" th:text="Select"></option>
                                                        <option th:each="eachproduct : ${productNameList}" th:value="${eachproduct.productName}" th:text="${eachproduct.productName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label> Qty</label>
                                                    <input id="qty" class="form-control"
                                                           th:field="*{qty}" required>
                                                    <div class="invalid-feedback">
                                                        invalid input
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    <input id="cost" class="form-control"
                                                           th:field="*{price}" required>
                                                    <div class="invalid-feedback">
                                                        invalid input
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-5 col-md-5">
                                                <div class="float-left">
                                                    <button type="submit" class="btn btn-success">Add Item</button>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>



                <!-- ------------------------TABLE START----------------------------- -->
                <br>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Item List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Inventory No</th>
                                                <th scope="col">Avail Stock</th>
                                                <th scope="col">Cost</th>
                                                <th scope="col">Supplier</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="each : ${selectedInvoice.productList}">
                                                <td th:text="${each.name.productName}">Product Name</td>
                                                <td th:text="${each.category.category}">Category</td>
                                                <td th:text="${each.inventoryNo}">Inventory No</td>
                                                <td th:text="${each.availableStock}">Avail Stock</td>
                                                <td th:text="${each.price}">Cost</td>
                                                <td th:text="${each.category.company.title}">Supplier</td>
                                                <td class="actions">
                                                    <a th:href=""><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>


                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

    <div th:replace="/fragments/javascript :: js"></div>



</body>

</html>
