<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title"></h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->

                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>



                <!-- ------------------------TABLE START----------------------------- -->
                <br>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Purchase Invoice - Review List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Invoice Number</th>
                                                <th scope="col">Total Cost</th>
                                                <th scope="col">Invoice Status</th>
                                                <th scope="col">Supplier</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="each : ${invoiceList}">
                                                <td th:text="${each.invoiceNo}">Invoice Number</td>
                                                <td th:text="${each.getTotalPrice}">Total Cost</td>
                                                <td th:text="${each.invoiceStatus}">Invoice Status</td>
                                                <td th:text="${each.vendor.companyName}">Supplier</td>
                                                <td class="actions">
                                                    <a sec:authorize="hasAuthority('Employee')">
                                                        <button type="button" class="btn btn-success btn-sm" th:text="${each.invoiceStatus}">status</button></a>
                                                    <a th:href="@{/invoice/update-invoice-status(invoiceNo=${each.invoiceNo},status='APPROVED')}" sec:authorize="hasAuthority('Manager')">
                                                        <button type="button" class="btn btn-success btn-sm">APPROVED</button></a>
                                                    <a th:href="@{/invoice/update-invoice-status(invoiceNo=${each.invoiceNo},status='CANCEL')}" sec:authorize="hasAuthority('Manager')">
                                                        <button th:disabled="${!each.invoiceStatus.getValue().equals('Review')}" type="button" th:class="${each.invoiceStatus.getValue().equals('Review')}?'btn btn-danger btn-sm':'btn btn-secondary btn-sm'">CANCEL</button></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>


                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

    <div th:replace="/fragments/javascript :: js"></div>

<script>
    function myFunction(){
        return false;
    }
</script>


</body>

</html>
