<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>




    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ecommerce-widget">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" id="invoice" th:object="${profit}">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Profit</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="fa-pull-left">
                                            <h5><p th:value="*{'Company Name: '+salesInvoiceNo.company.title}" th:text="*{'Company Name: '+salesInvoiceNo.company.title}"></p></h5>
                                            <p th:text="*{'Address: '+salesInvoiceNo.company.address1}"></p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-4 ">
                                            <div class="text-sm-right">
                                                <h4 class="invoice-color mb-2 mt-md-2" th:text="*{salesInvoiceNo.invoiceNo}"></h4>
                                                <ul class="list list-unstyled mb-0">
                                                    <li>Invoice Created Date: <span class="font-weight-semibold" th:text="*{salesInvoiceNo.localDate}"></span></li>
                                                    <li>Payment Due date: <span class="font-weight-semibold" th:text="*{salesInvoiceNo.dueDate}"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-md-flex flex-md-wrap">
                                    <div class="mb-4 mb-md-2 text-left"> <span class="text-muted">Invoice To:</span>
                                        <ul class="list list-unstyled mb-0">
                                            <li>
                                                <h5 class="my-2" th:text="*{salesInvoiceNo.vendor.companyName}">vendor name</h5>
                                            </li>
                                            <li th:text="*{salesInvoiceNo.vendor.address}">address</li>
                                            <li><a href="#" data-abc="true" th:text="*{salesInvoiceNo.vendor.email}">vendor email</a></li>
                                        </ul>
                                    </div>
                                    <div class="mb-2 ml-auto"> <span class="text-muted">Payment Details:</span>
                                        <div class="d-flex flex-wrap wmin-md-400">
                                            <ul class="list list-unstyled mb-0 text-left">
                                                <li>
                                                    <h5 class="my-2">Total Due:</h5>
                                                </li>
                                                <li>Bank name:</li>
                                                <li>Country:</li>
                                                <li>City:</li>
                                                <li>Address:</li>
                                                <li>IBAN:</li>
                                                <li>SWIFT code:</li>
                                            </ul>
                                            <ul class="list list-unstyled text-right mb-0 ml-auto">
                                                <li>
                                                    <h5 class="font-weight-semibold my-2" th:text="*{salesInvoiceNo.totalPrice}">$1,090</h5>
                                                </li>
                                                <li><span class="font-weight-semibold">Hong Kong Bank</span></li>
                                                <li>Hong Kong</li>
                                                <li>Thurnung street, 21</li>
                                                <li>New standard</li>
                                                <li><span class="font-weight-semibold">98574959485</span></li>
                                                <li><span class="font-weight-semibold">BHDHD98273BER</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="d-md-flex flex-md-wrap">
                                    <div class="pt-2 mb-3 wmin-md-400 ml-auto">
                                        <h6 class="mb-3 text-left">Total due</h6>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <th class="text-left">Total Sales:</th>
                                                    <td class="text-right" th:text="*{totalSales}"></td>
                                                </tr>
                                                <tr>
                                                    <th class="text-left">Total Cost:</th>
                                                    <td class="text-right" th:text="*{totalCost}"></td>
                                                </tr>
                                                <tr>
                                                    <th class="text-left">Total Profit:</th>
                                                    <td class="text-right text-primary">
                                                        <h5 class="font-weight-semibold" th:text="*{profit}"></h5>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer"> <span class="text-muted">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.Duis aute irure dolor in reprehenderit</span> </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                    <div class="float-right">
                                        <button  id="download" class="btn btn-primary">download pdf</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <div th:replace="/fragments/footer :: footer"></div>

</div>

    <div th:replace="/fragments/javascript :: js"></div>

<script>
    document.getElementById("download")
            .addEventListener("click", () => {
                const invoice = this.document.getElementById("invoice");
                console.log(invoice);
                console.log(window);
                var opt = {
                    margin: 1,
                    filename: 'myfile.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
                html2pdf().from(invoice).set(opt).save();

                // var x = document.getElementById("download");
                //     if (x.style.display === "none") {
                //         x.style.display = "block";
                //     } else {
                //         x.style.display = "none";
                //     }
                //
                // var y = document.getElementById("email");
                // if (y.style.display === "none") {
                //     y.style.display = "block";
                // } else {
                //     y.style.display = "none";
                // }
            })
</script>

</body>

</html>
