<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Admin Registration</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form class="needs-validation" novalidate th:action="@{/owner/admin-registration}", method="post" th:object="${user}">

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="firstName" class="col-form-label">First Name</label>
                                                    <input id="firstName" type="text" placeholder="First Name" class="form-control"
                                                           th:field="*{firstname}" required>
                                                    <div class="invalid-feedback">
                                                        invalid input
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-">
                                                <div class="form-group">
                                                    <label for="lastName" class="col-form-label">Last Name</label>
                                                    <input id="lastName" type="text" placeholder="Last Name" class="form-control"
                                                           th:field="*{lastname}" required>
                                                    <div class="invalid-feedback">
                                                        invalid input
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="password" class="col-form-label">Password</label>
                                                    <input id="password" type="password" placeholder="password" class="form-control"
                                                           th:field="*{password}" required>
                                                    <div class="invalid-feedback">
                                                        invalid input
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-">
                                                <div class="form-group">
                                                    <label for="phone" class="col-form-label">Phone</label>
                                                    <input id="phone" type="text" placeholder="Last Name" class="form-control"
                                                           th:field="*{phone}" required>
                                                    <div class="invalid-feedback">
                                                        invalid input
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Email Address</label>
                                                    <input id="email" type="email" placeholder="Email Address" class="form-control"
                                                           th:field="*{email}" required>
                                                    <div class="invalid-feedback">
                                                        invalid input
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Choose a Company</label>
                                                    <select name="company" id="company" th:field="*{company}" class="custom-select" required="required">
                                                        <option th:value=" ''" th:text="Select"></option>
                                                        <option th:each="co : ${companyList}" th:value="${co.id}" th:text="${co.title}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label>Role</label><br>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" name="radio-inline"  checked="checked" class="custom-control-input" th:field="*{role}" th:value="ADMIN"><span class="custom-control-label">Admin</span>
                                                    </label>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input disabled type="radio" name="radio-inline" class="custom-control-input" th:field="*{role}" th:value="MANAGER"><span class="custom-control-label">Manager</span>
                                                    </label>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input disabled type="radio" name="radio-inline" class="custom-control-input" th:field="*{role}" th:value="EMPLOYEE"><span class="custom-control-label">Employee</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="float-left">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>



                <!-- ------------------------TABLE START----------------------------- -->



                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

    <div th:replace="/fragments/javascript :: js"></div>



</body>

</html>
